html, body {
    width: 100%;
    height: 100%;
}

html,body,h1,h2,h3,h4,h5 {
    font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.btn-primary {
    background-color: #111;
    border-color: #000;
}

a {
    color: #000;
}

a:hover {
    color: #111;
}

.btn-primary:hover {
    background-color: #222;
    border-color: #111;
}

.form-control:focus {
    border-color: #111;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 0, 0, 0.6);
}

#outer-wrapper {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.header-wrapper {
    top: 0;
    position: absolute;
    width: 100%;
}

#logo {
    text-indent: -9999px;
    width: 180px;
    height: 64px;
    background-image: url('/img/logo.png');
    background-position: -15px center;
    float: left;
}

@media (max-width: 768px) {
#logo {
    width: 40px;
    height: 32px;
    background-image: url('/img/logo-small.png');
    background-size: 40px 32px;
    background-position: -4px center;
    background-repeat: no-repeat;
}
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    #logo {
        background-image: url('/img/logo@2x.png');
        background-size: 195px 64px;
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5) and (max-width: 768px), only screen and (-o-min-device-pixel-ratio: 3/2) and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 768px), only screen and (min-devicepixel-ratio: 1.5) and (max-width: 768px), only screen and (min-resolution: 1.5dppx) and (max-width: 768px) {
    #logo {
        background-image: url('/img/logo-small@2x.png');
        background-size: 40px 32px;
    }
}

.main-header h1 {
    height: 64px;
    padding: 0;
    margin: 0;
}

.main-header small {
    margin-top: 6px;
    line-height: 58px;
}

@media (max-width: 768px) {
.main-header h1 {
    height: 32px;
    font-size: 22px;
}

.main-header small {
    margin-top: 0;
    margin-left: 4px;
    line-height: 32px;
}
}

.main-header div.userprofile {
    position: absolute;
    color: #777;
    top: 4px;
    right: 15px;
    height: 64px;
}

.main-header .userprofile i {
    font-size: 36px;
    margin-right: 8px;
    line-height: 64px;
}

.main-header .userprofile div span {
    display: block;
    margin-top: 11px;
    font-size: 14px;
    text-transform: capitalize;
}

.main-header .userprofile a {
    font-size: 12px;
}

.main-nav {
    background-color: #555;
    height: 48px;
}

.main-nav ul {
    list-style: none; 
    margin: 0;
    padding: 0;
}

.main-nav ul li {
    float: left;
}

.main-nav ul li a {
    text-shadow: 0px 0px 4px #333;
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    margin-right: 12px;
    height: 48px;
    line-height: 48px;
}

.main-nav ul li a i {
    font-size: 125%;
}

.main-nav ul li a.active {
    color: #fff;
}


@media (max-width: 768px) {
.main-nav {
    background-color: #555;
    height: 32px;
}
.main-nav ul li a {
    font-size: 14px;
    line-height: 32px;
    margin-right: 12px;
}
}

.content-wrapper {
    height: 100%;
}
.content-wrapper .container {
    padding-top: 122px;
    height: 100%;
}
@media (max-width: 768px) {
.content-wrapper .container {
    padding-top: 74px;
    height: 100%;
}
}
